@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.02; }
}
@media only screen and (max-width: 930px)  {
  .middle h1, .middle2 h1, .middle3 h1, .middle4 h1 {
    margin-left:15px !important;
    margin-right:15px !important;
  }
  .middle .row, .middle2 .row, .middle3 .row, .middle4 .row {
    margin-left:15px !important;
    margin-right:15px !important;
  }
}
@media only screen and (max-width: 830px)  {
  .middle .row, .middle4 .row {
      flex-direction: column !important;
  }
  .middle .row p {
    margin-left:0 !important;
    margin-right:0 !important;
  }
}
@media only screen and (max-width: 630px)  {
  .middle2 .row, .middle3 .row {
    flex-direction: column !important;
  }
  .middle3 .row img {
    width:auto;
    max-width:400px;
    margin-bottom:-20px;
  }
  header ul li a {
    font-size:14px !important;
  }
}
@media only screen and (max-width: 360px)  {
  header ul li a {
    font-size:12px !important;
  }
}
